<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.testng.practice.RegistrationOracle"/>
      <class name="com.testng.practice.AddCartAmazon"/>
      <class name="com.testng.practice.LoginFacebook"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
